Checks: 
  'clang-diagnostic-*,
  clang-analyzer-*,
  abseil-*,
  bugprone-*,
  boost-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-*, 
  cppcoreguidelines-pro-type-vararg,
  cppcoreguidelines-owning-*,
  cppcoreguidelines-special-member-*,
  google-default-arguments,
  google-build-using-namespace,
  google-explicit-constructor,
  google-runtime-operator,
  hicpp-exception-baseclass,
  hicpp-multiway-paths-covered,
  hicpp-signed-bitwise,
  misc-*,
  modernize-*,
  mpi-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers' 
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false